<aside class="category">
    <h5>CATEGORII</h5>
    <div class="category__burger">
        <span></span>
    </div>

    <ul class="category__list">
        <li class="active">
            <a href="#">Ciocolată și glazură</a>
            <span class="icon-arrow_right"></span>
        </li>
        <li>
            <a href="#">Ingrediente</a>
            <span class="icon-arrow_right"></span>
        </li>
        <li>
            <a href="#">Produse pentru decor</a>
            <span class="icon-arrow_right"></span>
        </li>
        <li>
            <a href="#">Ambalaje și suporturi</a>
            <span class="icon-arrow_right"></span>
        </li>
        <li>
            <a href="#">Accesorii și echipamente</a>
            <span class="icon-arrow_right"></span>
        </li>
        <li>
            <a href="#">Utilaje</a>
            <span class="icon-arrow_right"></span>
        </li>
    </ul>
</aside>