@@include('./search.html')

<footer class="footer">
    <div class="footer__container">
        <a href="index.html" class="logo">LOGO</a>
        <div class="footer__center">
            <ul class="footer__center--list">
                <li>
                    <a href="promotions.html">Promoții</a>
                </li>
                <li>
                    <a href="recipes.html">Recete</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="contact.html">Contacte</a>
                </li>
            </ul>
            <div class="footer__center--copyright">
                <p>Copyright © 2022. Patipani. All rights reserved.</p>
            </div>
        </div>
        <div class="footer__social">
            <a href="#">
                <span class="icon-facebook"></span>
            </a>
            <a href="#">
                <span class="icon-mail"></span>
            </a>
        </div>
    </div>
</footer>
