<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__list--item active">
            <a href="">1</a>
        </li>
        <li class="pagination__list--item">
            <a href="">2</a>
        </li>
        <li class="pagination__list--item">
            <a href="">3</a>
        </li>
        <li class="pagination__list--item">
            <a href="">4</a>
        </li>
        <li class="pagination__list--item dots">
            ...
        </li>
        <li class="pagination__list--item">
            <a href="">10</a>
        </li>
    </ul>
</div>