<div class="product">
    <div class="product__label">
        <span>- 30%</span>
    </div>
    <div class="product__images product-images">
        <img class="product-images__image product-images__image--active" src="@img/product1.jpg" alt="">
        <img class="product-images__image" src="@img/product2.jpg" alt="">
    </div>
    <div class="product__pagination"></div>
    <div class="product__info">
        <p>
            Nostrum quidem expedita accusa fdsfdsfsdfsdf fdsfdsf dsf sdf sfs sdfs asda asd asd asd as dasdas da sda sd as das d asd asd as ds
        </p>
    </div>
    <div class="product__footer">
        <div class="product__price">
            <span class="current-price">293 MDL</span>
            <span class="splashed-price">940 MDL</span>
        </div>
        <button class="button button__outlined--gray product__cart">
            <span class="icon-cart"></span>
        </button>
    </div>
</div>