<header class="header">
    <div class="header__top header-top">
        <div class="header__container">
            <a href="/">
                <img src="@img/logo.png" alt="logo">
            </a>
            <h2>Centrul național de transfuzie a sângelui</h2>
            <img src="@img/stema.png" alt="">
        </div>
    </div>

    <div class="header__body header-body">
        <div class="header__container">
            <nav class="header__nav">
                <ul class="nav-list">
                    <li class="nav-list__item icon-item">
                        <a href="/" class="icon-home"></a>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <a href="#">Despre noi</a>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <a href="#">transparență</a>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Subnav item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">legislație</a>
                        <span class="icon-arrow_down"></span>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">Pentru donatori de sânge</a>
                        <span class="icon-arrow_down"></span>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">Pentru specialiști</a>
                        <span class="icon-arrow_down"></span>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">noutăți</a>
                        <span class="icon-arrow_down"></span>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">Contacte</a>
                    </li>
                </ul>
                <div class="language">
                    <div class="language-current">
                        <div class="current">RO</div>
                        <span class="icon-arrow_down"></span>
                    </div>
                    <ul class="language-list">
                        <li class="language-list__item">
                            EN
                        </li>
                        <li class="language-list__item">
                            RU
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="header__bottom header-bottom">
        <div class="header__container">
            <ul class="header-bottom__nav">
                <li>
                    <span class="icon-calendar"></span>
                    <a href="#">Programare donare sânge</a>
                </li>
                <li>
                    <span class="icon-review"></span>
                    <a href="#">Evaluare grad de satisfacție</a>
                </li>
                <li>
                    <span class="icon-question"></span>
                    <a href="#">Întrebări frecvente</a>
                </li>
                <li>
                    <span class="icon-text"></span>
                    <a href="#">Depune petiție / sugestie</a>
                </li>
            </ul>
            <div class="header-bottom__search">
                <input type="text" class="search" placeholder="Caută">
                <span class="icon-search"></span>
            </div>
        </div>
    </div>
</header>